*:focus, .btn:focus {
    border: 2px solid #FFF; 
    outline: 2px solid #000;
}

.btn:hover, .btn:focus {
    background-color: #b8d5e8;
    border-color: transparent;
    color: #000;
    text-decoration: underline;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #424c4f;
  }

header, .music {
    background-image: url("cloud-background.jpg");
    background-size: cover;
}

header .nav-link {
    border-top: 3px solid transparent;
}

header .nav-link:hover, .active .nav-link {
    border-color: #631e5c;
    font-weight: 400;
}

h1 {
    color: #631e5c;
    font-weight: 300;
    font-size: 1.69rem;
}

h2 {
    color: #47637e;
    font-size: 1.56rem;
}

p {
    font-size: 1rem;
    line-height: 2rem;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #47637e;
}

footer p, footer a, footer h2 {
    color: #FFF;
}

footer ul {
    padding-left: 0;
}

footer nav {
    padding-top: 10px;
}

.logo {
    max-width: 33%;
}

h2.art {
    color: #631e5c;
    font-size: 1.3rem;
}

.hover-line:hover a, .hover-line:focus {
    color: #FFF;
    text-decoration: underline;
}

.new-win {
    width: 1rem;
    margin-left: 0.5rem;
}

.social-logo {
    width: 33px;
    height: 33px;
}

.footer-main {
    font-size: 1.5rem;
}

.footer-main:hover {
    color: #FFF;
}

.footer-link {
    list-style-type: none;
    padding-bottom: 1rem;
}

.navbar .container {
    display: initial;
}

.btn {
    background-color: #631e5c;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.38rem;
}
.btn-skip-link {
    background-color: #631e5c;
    color: #FFF;
    position: absolute;
    z-index: 20;
    left: 1rem;
    right: 0;
    top: 1rem;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    opacity: 1;
}

.btn-skip-link:not(:focus):not(:hover) {
    -webkit-transform: translateY(-4em);
    -ms-transform: translateY(-4em);
    transform: translateY(-4em);
    opacity: 0;
}

.gallery-links {
    background-color: #eef4fa;
}

.gallery-links h2 {
    font-size: 1rem;
}

.gallery-links a {
    color: #47637e;
    text-decoration: underline;
}

/* form styles */
form {
    width: 40%;
    margin: 0 auto;
}

label {
    display: block;
}

.form-section {
    width: 100%;
}

.errorMsg {
    background-color: #fceded;
    border: 1px solid #63110f;
    color: #63110f;
    font-weight: 700;
    padding: 0.5rem;
    display: block;
}

input, textarea {
    width: 100%;
    line-height: 2rem;
    padding: 0.25rem;
}

input {
    margin-bottom: 0.3rem;
}

textarea {
    height: 10rem;
}

.sitemap-links {
    width: 60%;
    margin: 0 auto;
}

.sitemap-links a {
    font-size: 1.5rem;
    color: #47637e;
    display: block;
}

@media only screen and (max-width: 767px) {
    figcaption {
        padding-bottom: 2.5rem;
    }
    form {
        width: 100%;
    }
    .sitemap {
        padding-bottom: 2rem;
    }
    .logo {
        max-width: 50%;
    }
    .kathi {
        display: flex;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}